{% extends 'youtube/base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'mypage.css' %}">
{% endblock customcss %}

{% block content%}


<div id="img">
    {{user.username}}
    <a href="" class="btn btn-primary">チャンネル登録</a>
    <img class="" src="/media/media/image/pexels-eberhardgross-640781.jpg" alt="">
</div>
<div id="">
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
          <a class="nav-link active" href="#!">投稿一覧</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">いいねした動画</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#!">フォロー一覧</a>
        </li>
      </ul>
</div>


{% endblock%}   