{% extends 'youtube/base.html'%}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'base.css' %}">
{% endblock customcss %}

{% block content%}
<div class="container my-5">

<h1 class="my-5 ml-5 font-weight-bolder ">投稿ページ</h1>

<form action="" method="POST" enctype='multipart/form-data' class="border w-50">
    {% for field in form%}
    <h2 class="ml-5 my-3 font-weight-bolder">{{field.label_tag}}</h2>
    <p class="ml-5 my-5">{{field}}</p>
    
    {%endfor%}
    {%csrf_token%}
<button class="btn btn-info w-25 ml-5 my-5 font-weight-bolder">投稿する</button>
</form>
</div>
{% endblock%}   