{% extends 'youtube/base.html'%}

{% block content%}
{% for post in post_list%}
<a href="{% url 'youtube:detail' post.pk%}">{{post.title}}</a>
<img class="img-thumbnail" src="{{post.thumbnail.url}}" alt="">
<a href="{% url 'youtube:delete' post.pk%}" class="btn btn-dark">削除</a>
<a href="{% url 'youtube:update' post.pk%}" class="btn btn-dark">編集</a>
<a href="{% url 'youtube:good' post.pk%}" class="btn btn-dark">高評価{{post.good}}</a>
<a href="" class="btn btn-dark">閲覧数{{post.read}}</a>
{%endfor%}
{% endblock%}   