{% extends 'youtube/base.html'%}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'post_list.css' %}">
{% endblock customcss %}


{% block content%}
<div class="container">
<div class="row">
    <div class="col-9">
        {{post.title}}
        {{post.text}}
        <div class="embed-responsive embed-responsive-16by9">
            <video controls class="embed-responsive-item" src="{{post.movie.url}}"></video>
        </div>

        <h4 class="mb-5">コメント一覧</h4>
        <a href="{% url 'youtube:comment' post.pk%}" class="btn btn-dark">投稿する</a>
        {% for comment in post.comment_set.all%}
        <p>{{comment.title}}</p>
        <p>{{comment.text}}</p>
        <a href="" class="btn btn-dark">いいね</a>
        {%endfor%}
    </div>
    
    <div class="col-3">
        <p>おすすめ一覧</p>
    </div>
</div>
</div>

{% endblock%}   