

body{
    background-color: black;
    color: white;
}

.mypage-img{
    height: 230px;
    width: 100%;
   
}

    
    

.relative {
    position: relative;
    height:300px;
}
.absolute{
    position: absolute;
}
.rounded-circle {
    position: absolute;
    height:150px;
    width:150px;
    top:30px;
    left:30px;
}