

body{
    background-color: black;
    color: white;
}

.mypage-img{
    width: 100%;
    height:300px;  
}

    
    

.relative{
    position: relative;
    height: 500px;
}
.absolute.text1{
    position: absolute;
    top:50px;
    left:300px;
    font-size:50px;
}
.absolute.text2{
    position: absolute;
    top:120px;
    left:300px;
}
.rounded-circle {
    height:150px;
    width:150px;
    top:30px;
    left:30px;
}